.timeline {
  position: relative;
}

.timeline:before {
  background-color: #eee;
  bottom: 0;
  content: '';
  margin-left: -2px;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 1;
  height: 100%;
}

.timeline-icon {
  z-index: 2;
}

.timeline-container {
  text-align: center;
}
